# Create a number

In [11]:
var_1=1
print(var_1)
print(id(var_1))

1
140728800310056

In [9]:
var_2=6
print(id(var_2))

140728800310216

# How to find  type of a number

In [15]:
print(type(1))
print(type(1.2))

<class 'int'>
<class 'float'>

# Immutable or mutable? Immutable

In [31]:

var_4 = 10
try:
  var_4[1]= 1
except Exception as error:
    print('error from mutable or not? ' + str(error))

error from mutable or not? 'int' object does not support item assignment

# Iterable ot not? Not Iterable

In [33]:
var_4=10
for i in var_4:
    print(i)

TypeError: 'int' object is not iterable

# Ordered or Un ordered? Unordered

In [ ]:
a = 1